{
  "skipDangerousModePermissionPrompt": true,
  "model": "sonnet",
  "permissions": {
    "allow": [
      "WebFetch",
      "WebSearch",
      "mcp__plugin_telegram_telegram__reply",
      "mcp__plugin_telegram_telegram__edit_message",
      "mcp__plugin_telegram_telegram__react",
      "mcp__plugin_telegram_telegram__download_attachment"
    ],
    "deny": [
      "AskUserQuestion",
      "ExitPlanMode"
    ]
  },
  "extraKnownMarketplaces": {
    "claude-plugins-official": {
      "source": {
        "source": "github",
        "repo": "anthropics/claude-plugins-official"
      }
    }
  },
  "enabledPlugins": {
    "telegram@claude-plugins-official": true
  }
}
